extends layout

block manejoProductos
    div(class="container mt-3")
        div(class="jumbotron")
            h1(style="color:blue;") Ingrese datos
            br
            form(action="/" method="post")
                div(class="form-group")
                    label(for="nombre")
                        b Nombre
                    input(id="nombre" class="form-control" type="text" name="nombre")
                div(class="form-group")
                    label(for="precio")
                        b Precio
                    input(id="precio" class="form-control" type="number" name="precio")
                div(class="form-group")
                    label(for="img")
                        b URL de una Imagen
                    input(id="img" class="form-control" type="text" name="img" )
                button(class="btn btn-success mt-3 mb-5") Enviar
        button(onclick="window.location.href='/productos'") Ir a Productos