<form action="/" method="get">
  <div class="form-group">
    <label for="nombreSubmit">Ingrese su nombre</label>
    <input type="text" class="form-control" id="nombreSubmit" aria-describedby="nameHelp"
      placeholder="Ingrese su nombre" name="nombreUser">
  </div>
  <button onsubmit="return loguear()" type="submit" class="btn btn-primary">Submit</button>
</form>