<div style="width:100%;" class="tableContainer">
    <h2 style="text-align:center;">Lista de Productos</h2>
    <h2 style="color:crimson;text-align:center;">Historial</h2>
    {{#if hasProd}}
    <div id="tablaProductos" class="table-responsive">
    </div>
    {{else}}
    <h2>No existen Productos</h2>
    {{/if}}
</div>