<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi plantilla de Ingreso de Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
</head>

<body>
    <div style="width:100%;" class="tableContainer">
        <h2 style="text-align:center;">Lista de Productos</h2>
        <h2 style="color:crimson;text-align:center;">Historial</h2>
        <% if(hasProd) {%>
        <div class="table-responsive">
            <table class="table table-dark" style="text-align:center">
                <tr style="color: yellow;">
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
                <% data.forEach(prod => { %>
                <tr>
                    <td>
                        <%=prod.nombre%>
                    </td>
                    <td>
                        $<%=prod.precio%>
                    </td>
                    <td>
                        <img style="width:8vw;" src=<%=prod.img%> alt="imagen de prod " + <%=prod.id%>>
                    </td>
                </tr>
                <%});%>
            </table>
        </div>
        <%}else{%>
        <h2>No existen Productos</h2>
        <%}%>
        <button onclick="window.location.href='/'">Ir a Inicio</button>
    </div>
</body>

</html>